*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background: #f8f8f8;
  color: #666;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15vh;
  background: #666;
  color: #f8f8f8;
}

.title {
  margin: 30px auto;
  font-size: 40px;
}

main {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#chart-container {
  display: flex;
  justify-content: center;
  width: 85%;
  margin: auto;
  border: 3px solid #666;
}

.chart-box {
  position: relative;
  background: #eaeaea;
}

#y-axis {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
}

#chart {
  display: inline-block;
  margin-left: 40px;
}

.legend-box {
  display: flex;
  flex-direction: column;
}

#legend {
  vertical-align: top;
  margin: 0 0 0 10px;
}

#offset-form {
  margin: 2em 0 0 15px;
  font-size: 13px;
}
